/* Main style sheet for radium. */


QGroupBox {
    background-color: rgba(220, 220, 220, 20);
    border: 1px solid rgba(10, 10, 10, 50);
    border-radius: 2px;
    margin-top: 1.5em;
}

QGroupBox::title {
    subcontrol-origin: margin;
    padding: 2px 2px;
    background-color: transparent;
}

QScrollArea { background: transparent; }
QScrollArea > QWidget > QWidget { background: transparent; }
QScrollArea > QWidget > QScrollBar { background: rgba(255, 255, 255, 50); }

QTabBar::pane { border: 0; }

/*
QPushButton::hover{
    background: rgba(127, 127, 127, 20);
}

QPushButton::hover{
    background: rgba(127, 127, 127, 20);
}
*/

/*
QTabWidget::pane { border: 0; background: blue}
*/

/* 
QMenu::separator {
    background-color: gray;
}
*/
