/* Remove that grotesque stippled line around links. */
a {
   outline: 0;
}



.image-and-text{
    clear:both;
}
.image{
    float:left;
}
.text{
    float:left;
}

    .img-with-text {
        text-align: justify;
        width: [width of img];
    }
     
    .img-with-text img {
        display: block;
        margin: 0 auto;
    }


#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

